@page "/ciclos-maquina/{machineId:int}"
@using Proyecto_FUXA.Services   
@inject ServicioMaquina MachineService
@inject NavigationManager Navigation

<h3>Registrar ciclos de máquina</h3>

@if (Maquinas == null)
{
    <p>Cargando máquina...</p>
}
else
{

    <div style="border:1px solid #ccc;padding:20px;width:400px">

        <p><b>Máquina:</b> @machine.Name</p>

        <p><b>Sección:</b> @machine.SectionName</p>

        <p><b>Objetivo ciclos:</b> @machine.TargetCycles</p>

        <hr />

        <label>Ciclos reales:</label>

        <input type="number" @bind="realCycles" />

        <br /><br />

        <button class="btn btn-primary" @onclick="Guardar">
            Registrar ciclos
        </button>

    </div>

}

@code {

    [Parameter]
    public int machineId { get; set; }

    Maquinas? machine;

    int realCycles;

    protected override async Task OnInitializedAsync()
    {
        var maquinas = await MachineService.GetMachinesAsync();

        machine = maquinas.FirstOrDefault(x => x.Id == machineId);
    }

    async Task Guardar()
    {
        await MachineService.AddProductionAsync(machineId, realCycles);

        Navigation.NavigateTo($"/dashboard-maquina/{machineId}");
    }

}