@page "/editar-maquina/{id:int}"

@using Proyecto_FUXA.Models
@using Proyecto_FUXA.Services

@inject ServicioMaquina MachineService
@inject NavigationManager Navigation
@rendermode InteractiveServer
<h3>@(machine?.Id == 0 ? "Registrar nueva máquina" : "Editar máquina")</h3>

@if (machine == null)
{
    <p>Iniciando formulario...</p>
}
else
{
    <div style="border-radius: 8px; border:1px solid #ccc; padding:20px; width:500px; background-color: #f9f9f9;">

        <div class="mb-3">
            <label class="form-label">Nombre de la Máquina</label>
            <input class="form-control" @bind="machine.Nombre" placeholder="Ej: Prensa Hidráulica" />
        </div>

        <div class="mb-3">
            <label class="form-label">Número de Orden</label>
            <input type="number" class="form-control" @bind="machine.NumeroOrden" />
        </div>

        <div class="mb-3">
            <label class="form-label">Sección</label>
            <input class="form-control" @bind="machine.NombreSeccion" placeholder="Ej: Corte, Embolsado..." />
        </div>

        <div class="mb-3">
            <label class="form-label">Objetivo de ciclos</label>
            <input type="number" class="form-control" @bind="machine.CiclosObjetivo" />
        </div>

        <div class="mb-3">
            <label class="form-label">Estado Actual</label>
            <select class="form-select" @bind="machine.EstadoActualId">
                <option value="1">Activa</option>
                <option value="2">Incidencia</option>
                <option value="3">Parada</option>
                <option value="4">No disponible</option>
            </select>
        </div>

        <div class="mt-4 d-flex gap-2">
            <button class="btn btn-primary" @onclick="Guardar">
                <i class="bi bi-save"></i> Guardar datos
            </button>
            <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
        </div>
    </div>

}

@code {
    [Parameter]
    public int id { get; set; }

    private Maquina? machine;

    protected override async Task OnInitializedAsync()
    {

        var maquinaExistente = await MachineService.GetByIdAsync(id);
        machine = maquinaExistente ?? new Maquina
            {
                Nombre = string.Empty,
                NombreSeccion = string.Empty,
                CiclosObjetivo = 0,
                EstadoActualId = 1,
                FechaCreacion = DateTime.UtcNow
            };
    }



    private async Task Guardar()
    {

        if (machine == null)
        {
            return;
        }

            await MachineService.GuardarMaquina(machine);

            Navigation.NavigateTo("/maquinas");
        }

        private void Cancelar()
        {
            Navigation.NavigateTo("/maquinas");
        }
}