@page "/maquinas"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Proyecto_FUXA.Models
@inject Proyecto_FUXA.Services.FuxaService FuxaService
@inject Proyecto_FUXA.Services.ServicioMaquina ServicioMaquina

<h1>Maquinas</h1>

<a class="btn btn-lg btn-primary float-lg-end" href="/anadir-maquina/">+ Añadir maquina</a>

@if (maquinas is null)
{
    <text>Cargando...</text>
}
else
{
    <table class="table table-striped">

        <thread>
            <tr>
                
                <th>
                    ID Técnico
                </th>
                <th>Nombre Máquina</th>
                <th>Tipo Máquina</th>
                <th>Estado</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var maquina in maquinas)
            {
                <tr>
                    <!--<td>@Index</td>-->
                    <td><code class="text-muted">@maquina.FuxaDeviceId</code></td>
                    <td><code class="text-muted">@maquina.Nombre</code></td>
                    <td><code class="text-muted">@maquina.NombreSeccion</code></td>
                    <td>
                        @if (maquina.EstaActivo)
                        {
                            <span class="badge bg-success">Activa</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Inactiva</span>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
    
}

@code {
    private List<Maquina>? maquinas;


    protected override async Task OnInitializedAsync()
    {
        maquinas = await FuxaService.GetMaquinasDesdeFuxa();
    }
}
