@page "/maquinas"

@using Proyecto_FUXA.Models
@inject Proyecto_FUXA.Services.ServicioMaquina ServicioMaquina

<h1>Maquinas</h1>

<a class="btn btn-lg btn-primary float-lg-end" href="/anadir-maquina/">+ Añadir maquina</a>

@if (maquinas is null)
{
    <text>Cargando...</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Orden</th>
                <th>Estado</th>
                <th>Objetivo ciclos/h</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var maquina in maquinas)
            {
                <tr>
                    <td>@maquina.Nombre</td>
                    <td>@maquina.NumeroOrden</td>
                    <td>@maquina.EstaActivo</td>
                    <td>@maquina.CiclosObjetivo</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="/editar-maquina/@maquina.Id">Editar</a>
                        <a class="btn btn-sm btn-primary" href="/ciclos-maquina/@maquina.Id">Ciclos</a>
                        <a class="btn btn-sm btn-info" href="/dashboard-maquina/@maquina.Id">Dashboard</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Maquina>? maquinas;

    protected override async Task OnInitializedAsync()
    {
        maquinas = await ServicioMaquina.GetAllAsync();
    }
}
