@page "/operaciones-activas"
@using Proyecto_FUXA.Services
@using Radzen
@using Radzen.Blazor
@using static Proyecto_FUXA.Services.ImputacionService
@inject ImputacionService ImputacionService

<RadzenText TextStyle="TextStyle.H4" class="rz-mb-4">Monitor de Operaciones Activas</RadzenText>

<RadzenDataGrid Data="@listaOperaciones" TItem="OperacionResumenDTO" AllowPaging="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="CodigoOperacion" Title="Cód. Operación" Width="180px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="NombreOrden" Title="Orden" Width="150px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="Producto" Title="Producto / Descripción" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="NombreMaquina" Title="Máquina" Width="150px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="CiclosObjetivo" Title="Objetivo" Width="100px" TextAlign="TextAlign.Center" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Title="Progreso" Width="200px">
            <Template Context="data">
                <div style="display:flex; flex-direction:column; gap:4px">
                    <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@($"{data.PiezasFabricadas} / {data.CiclosObjetivo}")" />
                    <RadzenProgressBar Value="@((double)data.PiezasFabricadas)" Max="@((double)data.CiclosObjetivo)" ShowValue="false" />
                </div>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="FechaInicio" Title="Iniciada" FormatString="{0:dd/MM HH:mm}" Width="120px" />
    </Columns>
</RadzenDataGrid>

@code {
    List<OperacionResumenDTO> listaOperaciones;

    protected override async Task OnInitializedAsync()
    {
        listaOperaciones = await ImputacionService.ObtenerOperacionesActivasAsync();
    }
}